body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / 200px 1fr 200px;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.left-sidebar {
  background: lightblue;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

main {
  background: coral;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.right-sidebar {
  background: yellow;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}