@media screen and (min-width: 768px) {

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5cb9ec;;
}

header h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

#menu-button {
    display: none;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    padding: 0.5rem 1rem;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 2rem;
}
}