:root {
    --primary-color: #D52B1E;
    --secondary-color: #0039A6;
    --text-color: #fff;
    --background-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: #000;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-top: 1rem solid var(--secondary-color);
}

#course-title {
    font-size: 3rem;
    font-weight: 700;
}

/* Hero */

.hero img {
    width: 100%;
    display: block;
}

/* Sections */
.data, 
.weather {
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--background-color);
    border-bottom: 1px solid #ddd;
}

.data h2, 
.weather h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Text */
.card-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.weather img {
    width: 120px;
    margin-bottom: 2rem;
}

/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}
