* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Menu Button */

#menu-button {
    display: block;
    background-color: #8ad0f8;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    background: none;
}

/* Header */

header {
    padding: 20px;
    background-color: #8ad0f8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 1rem;
}

/* Navigation */

nav {
    display: none;
}

nav.open {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

nav a:hover {
    background-color: #5cb9ec;
    color: white;
}

/* Main Content */

main {
    max-width: 1200px;
    margin: 0  auto;
    padding: 2rem 1rem;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Temple Cards */

.temple-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  transition: transform 0.2s;

  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.temple-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.temple-card:hover {
  transform: translateY(-5px);
}

.temple-card figcaption {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #5cb9ec;
    color: #333;
    margin-top: 20px;
}